.menu {
    background-color: #D5B0AC;
    color: #402E2A;
    font-weight: bold;
    text-align: center;
}

span {
    display: inline-block;
    width: 100px;
    height: 24px;
    padding: 6px 0 0 0;
}

span:hover {
    cursor: pointer;
    background: #9CD08F;
    color: #FFFFFF;
}





.menu_vertical{
    width: 100px;
    font-weight: bold;
    background: #d5b0ac;
    text-align: center;
}
.menu_vertical span{
    display: block;
    border-bottom: 2px solid white;
}